{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block title %}The Vault{% endblock %}

{% block content %}
    {% if not entry_list %}
        <h3>Welcome to the Vault!</h3>
    {% endif %}
    {% for entry in entry_list %}
    <div id="entry" class="card">
        <div class="card-body">
            <h5 class="card-title">{{ entry.website }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <time datetime="{{ entry.date_of_creation|date:'c' }}">{{ entry.date_of_creation|date:'F d, Y h:i A' }}</time>
            </h6>
            <a href="/entry/{{ entry.id }}/"><p>{{ entry.username }}</p></a>
            <p>{{ entry.password_hash }}</p>
            <a class="btn btn-delete" href="/delete/{{ entry.id }}/"><i class="material-icons">delete</i></a>
            <a class="btn btn-edit" href=""><i class="material-icons">create</i></a>
        </div>
    </div>
    {% endfor %}
{% endblock %}