{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% block title %}The Vault{% endblock %}
{% block content %}
    <div class="card article-card">
        <div class="card-body">
            <a href=""><h5 class="card-title">{{ entry.title }}</h5></a>
            <h6 class="card-subtitle mb-2 text-muted">
                <time datetime="{{ entry.date_of_creation|date:"c" }}">{{ entry.date_of_creation|date:'F d, Y h:i A' }}</time>
            </h6>
            <p class="card-text">
                {{ entry.username }}<br>
                {{ entry.password_hash }}
            </p>
            <div class="form-group">
                <input id="{{ entry.id }}" type="password" class="form-control" value="{{ entry.plaintext_password }}" readonly data-toggle="password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ entry.id }}" onclick="reveal({{ entry.id }})">
                <label class="form-check-label" for="{{ entry.id }}">Show</label>
            </div>
            <script>
                function reveal(id) {
                    var id_password = document.getElementById(id);
                    if(id_password.type === "password"){
                        id_password.type = "text";
                    }else{
                        id_password.type = "password";
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}