{% extends 'passwordentry/base.html' %}
{% block title %}The Vault{% endblock %}
{% block content %}
    {% for entry in entryList %}
    <div class="card article-card">
        <div class="card-body">
            <h5 class="card-title">{{ entry.id }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
                <time datetime="{{ article.dateOfCreation|date:'c' }}">{{ article.dateOfCreation|date:'F d, Y h:i A' }}</time>
            </h6>
            <p class="card-text card-text-ellipsis">
                {{ entry.userName }}<br>
                {{ entry.plainTextPassword }}
            </p>
        </div>
    </div>
    {% endfor %}
{% endblock %}